.logoSlider-inner {
  padding-bottom: 2.5rem;
  margin-top: -2.5rem;
  border-bottom: 1px solid #002d74;
  position: relative;
  @include max(769px) {
    border-bottom: none;
  }
}
.logoSlider {
  .hide-on-desktop {
    @include min(1024px) {
      display: none;
    }
  }
  .process-download {
    @include max(769px) {
      margin-top: 4rem;
    }
  }
  .swiper-container {
    padding: 0 calc(100% * 0.5 / 12);
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $black;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    &::after {
      font-size: 1.5rem;
    }
  }
}
.logoSlider .swiper-wrapper {
  justify-content: space-between;
  align-items: center;
}
.logoSlider-slide {
  width: calc(100% * 1.5 / 12);
  padding: 0 1.5rem;

  @include max(1025px) {
    width: 25%;
  }

  @include max(768px) {
    width: 40%;
  }
}

.logoSlider-slide img {
  object-fit: cover;
  max-width: 100%;
}
