.logoSlider-inner {
  padding: 1.5rem 0;
  border-bottom: 1px solid #002d74;
  position: relative;
  @include max(769px) {
    border-bottom: none;
  }
}
.logoSlider {
  .hide-on-desktop {
    @include min(1025px) {
      display: none;
    }
  }
  .process-download {
    @include max(1024px) {
      margin: 7rem auto;
    }
  }
  .swiper-container {
    padding: 0 calc(100% * 0.5 / 12);
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $black;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    &::after {
      font-size: 1.5rem;
    }
  }
}
.logoSlider .swiper-wrapper {
  justify-content: space-between;
  align-items: center;
}
.logoSlider-slide {
  width: calc(100% * 2 / 12);
  padding: 0 4rem;

  @include max(1025px) {
    width: 50%;
  }
}

.logoSlider-slide img {
  object-fit: cover;
  max-width: 100%;
}
