.news .row {
  margin-right: -4.7rem;
}
@media screen and (max-width: 769px) {
  .news .row {
    flex-direction: column;
    margin-right: 0;
  }
}
.news > .container > .btn {
  margin-top: 10.8rem;
}
.news-title {
  margin-bottom: 6.7rem;
  @include max(769px) {
    margin-bottom: 4.1rem;
  }
}
.news-item {
  width: calc(33.33333% - 4.7rem);
  margin-right: 4.7rem;
  cursor: pointer;
}
@media screen and (max-width: 769px) {
  .news-item {
    margin-right: 0;
    width: 100%;
    margin-bottom: 2.5rem;
  }
}
.news-item__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 7.292vw;
  @include max(1024px) {
    height: 12rem;
  }
}
.news-item__image {
  margin-bottom: 2.8rem;
  overflow: hidden;

  img {
    transition: $transitionImage;
  }
  &:hover {
    img {
      transform: $transformImage;
    }
  }
}
.news-item__title {
  color: $black;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: auto;
  line-height: 120%;
  @include lc(1);
}
@media screen and (max-width: 769px) {
  .news-item__title {
    font-size: 1.8rem;
  }
}
.news-item__desc {
  font-size: 0.99vw;
  font-weight: 400;
  line-height: 160%;
  @include lc(3);
}
@media screen and (max-width: 769px) {
  .news-item__desc {
    font-size: 1.6rem;
  }
}
.news {
  @include max(500px) {
    padding-bottom: 4rem;
  }
}
.mainNews {
  padding-bottom: 8vw;
  @include max(1025px) {
    padding-bottom: 8rem;
  }
  &-row {
    display: flex;
    justify-content: space-between;

    @include max(769px) {
      flex-direction: column;
      .desktop-hidden {
        position: static;
        margin-top: 3rem;
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    @include max(769px) {
      margin-bottom: 2.5rem;
    }
    .btn {
      @include max(769px) {
        width: calc(100% * 6 / 12);
      }
    }
    h1 {
      text-transform: uppercase;
      margin-bottom: 4rem;
      @include max(1025px) {
        margin-bottom: 2rem;
      }
    }
  }
  &-desc {
    margin-bottom: auto;
    @include lc(5);
    @include max(769px) {
      margin-bottom: 2rem;
    }
  }
  &-image {
    .rto-box {
      @include max(1025px) {
        padding-top: 71.5%;
      }
    }
  }
}

.newsDetail {
  &-h1 {
    padding-bottom: 2.5rem;
    width: 60%;
    text-transform: uppercase;
    @include max(769px) {
      width: 100%;
    }
  }
  &-category {
    width: calc(100% * 6 / 12);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 8rem;
    padding-left: 0;
    .newsDetail-item  {
      margin-right: 1rem;
    }
    @include max(1024px) {
      width: 60%;
      padding-bottom: 4rem;
    }
    @include max(769px) {
      flex-wrap: wrap;
      width: 100%;
      gap: 1.5rem 0;
    }
  }
  &-hashtag {
    font-size: 1.4rem;
    background-color: $light-green;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
  }
  &-time {
    font-size: 1.4rem;
  }
  &-hero {
    padding-bottom: 4vw;
    .rto-box {
      padding-top: 42.17432052483599%;

      @include max(769px) {
        padding-top: 52.25%;
      }
    }
    @include max(1024px) {
      padding-bottom: 8rem;
    }
    @include max(769px) {
      padding-bottom: 4rem;
    }
  }
  &-desc {
    &:not(:last-child) {
      padding-bottom: 2.5rem;
    }
  }
}
