.padding-0 {
  padding: 0;
}
.pt {
  padding-top: 8.25vw;
}
.pt-small {
  padding-top: 5.208vw;
}
.m-auto {
  margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.mx-auto {
  margin: 0 auto;
}
.my-auto {
  margin: auto 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.flex {
  display: flex;
}
.flex-a-center {
  display: flex;
  align-items: center;
}
.flex-j-center {
  display: flex;
  justify-content: center;
}
.disable-scroll {
  overflow: hidden;
}
.col-1 {
  width: calc(100% * 1 / 12);
}
.col-2 {
  width: calc(100% * 2 / 12);
}

.col-3 {
  width: calc(100% * 3 / 12);
}
.col-4 {
  width: calc(100% * 4 / 12);
}
.col-5 {
  width: calc(100% * 5 / 12);
}

.col-6 {
  width: calc(100% * 6 / 12);
}
.col-7 {
  width: calc(100% * 7 / 12);
}
.col-8 {
  width: calc(100% * 8 / 12);
}

.col-9 {
  width: calc(100% * 9 / 12);
}
.col-10 {
  width: calc(100% * 10 / 12);
}
.col-1 {
  width: calc(100% * 1 / 12);
}

.col-12 {
  width: calc(100% * 12 / 12);
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  @include max(769px) {
    width: 100%;
  }
}
.disable-scroll {
  overflow: hidden;
}
.text-uppercase {
  text-transform: uppercase;
}
.btn {
  display: block;
  font-size: 1.042vw;
  font-weight: 600;
  padding: 0.938vw 0;
  text-align: center;
  line-height: 119%;
  @include max(1025px) {
    padding: 1.4rem 0;
    font-size: 1.6rem;
  }

  &-green {
    border: 1px solid $c-button-border;
    color: $c-button-text;
    border-radius: 8px;
    transition: all 150ms ease-out;
    @include max(769px) {
      width: 95%;
      margin: 0 auto;
    }
    &:hover {
      border: 1px solid $black;
      background-color: $black;
      color: white;
    }
  }

  &-trans {
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(150px);
    transition: all 150ms ease-out;
    &:hover {
      border: 1px solid $black;
      background-color: $black;
      color: white;
    }
  }
  &-black {
    border: 1px solid $c-button-border;
    border-radius: 4px;
    color: $black;
    background-color: transparent;
    transition: all 150ms ease-out;
    &:hover {
      border: 1px solid $black;
      background-color: $black;
      color: white;
    }
  }
}

.mt {
  padding-top: 17rem;

  @media (max-width: 1440px) {
    padding-top: 13rem;
  }

  @media (max-width: 1280px) {
    padding-top: 8rem;
  }

  @media (max-width: 769px) {
    padding-top: 6rem;
  }

  @media (max-width: 500px) {
    padding-top: 4rem;
  }
}
.wrapper {
  position: relative;
  overflow-y: hidden;
}
.rto-box {
  position: relative;
  padding-top: 62.5%;
  height: 0;
  width: 100%;

  > img,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 0;
  }
}
