$dark-blue: #000000;
$black: #000000;
$bg-green: #fcfff5;
$c-button-border: #71bf44;
$c-button-text: #267541;
$green-2: #8cb675;
$poly-virgin-blue: #009fdd;
$blur-blue: rgba(0, 45, 116, 0.2);
$white: #ffffff;
$polyester-rec-green: #00983A;
$polyamide-rec-green: #76B82A;
$light-green: #E3F2E7;
$transitionImage: transform .4s cubic-bezier(0.61, 1, 0.88, 1);
$transformImage: scale(1.1) rotate(4deg);
