<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/src/css/main.css" />
  <title>N112 Kira Rec</title>
</head>

<body>
  <div class="collection">
    <div class="collection-wrapper">
      <img src="/src/assets/images/close-icon.svg" alt="" class="collection-button" />
      <div class="container collection-inner">
        <div class="swiper-default noloop">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <a href="/collections/recycle.html" class="swiper-item collection-fabric__item">
                <div class="collection-fabric__image">
                  <img src="/src/assets/images/fabric-icon-3.svg" alt="" />
                </div>
                <div class="collection-fabric__title">Recycled</div>
              </a>
              <div class="swiper-item collection-fabric__item">
                <div class="collection-fabric__image">
                  <img src="/src/assets/images/fabric-icon-1.svg" alt="" />
                </div>
                <div class="collection-fabric__title">Virgin</div>
              </div>
              <div class="swiper-item collection-fabric__item">
                <div class="collection-fabric__image">
                  <img src="/src/assets/images/fabric-icon-2.svg" alt="" />
                </div>
                <div class="collection-fabric__title">
                  Recycled & Virgin Shiny
                </div>
              </div>
              <div class="swiper-item collection-fabric__item">
                <div class="collection-fabric__image">
                  <img src="/src/assets/images/fabric-icon-6.svg" alt="" />
                </div>
                <div class="collection-fabric__title">Xlance</div>
              </div>
              <a href="/collections/digital-print.html" class="swiper-item   collection-fabric__item">
                <div class="collection-fabric__image">
                  <img src="/src/assets/images/fabric-icon-7.svg" alt="" />
                </div>
                <div class="collection-fabric__title">Digital Print</div>
              </a>
              <div class="swiper-item collection-fabric__item">
                <div class="collection-fabric__image">
                  <img src="/src/assets/images/fabric-icon-5.svg" alt="" />
                </div>
                <div class="collection-fabric__title">Eco & Circularity</div>
              </div>
            </div>
          </div>
        </div>

        <div class="collection-cta">
          <div class="collection-cta__col col-5">
            <a href="#" class="btn btn-green collection-cta__text">
              All fabric Collections
            </a>
          </div>
          <div class="collection-cta__col col-5">
            <a href="#" class="btn btn-green collection-cta__text">
              Download Color Cards Collection 2023
            </a>
          </div>
        </div>

        <div class="collection-logo">
          <div class="collection-row">
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-8.svg" alt="" class="collection-logo__image" />
            </div>
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-10.svg" alt="" class="collection-logo__image" />
            </div>
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-11.svg" alt="" class="collection-logo__image" />
            </div>
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-7.svg" alt="" class="collection-logo__image" />
            </div>
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-12.svg" alt="" class="collection-logo__image" />
            </div>
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-13.svg" alt="" class="collection-logo__image" />
            </div>
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-14.svg" alt="" class="collection-logo__image" />
            </div>
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-15.svg" alt="" class="collection-logo__image" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <header class="nav">
    <div class="nav-inner">
      <div class="nav-nav">
        <a href="/" class="nav-logo">
          <img src="/src/assets/images/nav-logo.svg" alt="" />
        </a>

        <div class="nav-bar">
          <ul class="nav-bar__inner">
            <li class="nav-bar__item">
              <a href="/who-we-are.html" class="nav-link nav-text">Who we are</a>
            </li>
            <li class="nav-bar__item">
              <a href="/sustainability.html" class="nav-link nav-text">Sustainability</a>
            </li>
            <li class="nav-bar__item">
              <a href="#" id="fabric-collection" class="nav-link nav-text">Fabric Collection</a>
            </li>
            <li class="nav-bar__item">
              <a href="/news.html" class="nav-link nav-text">HY News</a>
            </li>
            <li class="nav-bar__item">
              <a href="/contact.html" class="nav-link nav-text">Contact</a>
            </li>
          </ul>
          <div class="nav-search hide-on-desktop">
            <div class="nav-search__inner">
              <input type="text" placeholder="Find your fabric" />
              <img class="nav-icon" src="/src/assets/images/search-icon.svg" alt="" />
            </div>
          </div>
        </div>

        <div class="nav-search hide-on-mobile">
          <div class="nav-search__inner">
            <input type="text" placeholder="Find your fabric" />
            <img class="nav-icon" src="/src/assets/images/search-icon.svg" alt="" />
          </div>
        </div>

        <div class="nav-burger">
          <button>
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </header>


  <footer class="footer mt">
    <img src="/src/assets/images/pattern-footer.svg" alt="" class="footer-pattern" />
    <div class="container">
      <div class="row">
        <div class="footer-cta col-8 mx-auto">
          <div class="footer-cta__inner">
            <h1 class="h1 footer-cta__h1">
              We're here to provide the best fabric for your business. <br />
              Don't hesitate to contact us.
            </h1>

            <a href="#" class="btn btn-green col-4 mx-auto">
              Get to know us
            </a>
          </div>
        </div>
      </div>

      <div class="footer-list row">
        <div class="col-2">
          <a href="#" class="footer-logo">
            <img src="/src/assets/images/footer-logo.svg" alt="" />
          </a>
        </div>
        <div class="col-3">
          <p class="footer-desc">
            Pho Noi Textile and Garment Industrial Park,Nghia Hiep commune,Yen
            My district, Hung Yen province 162930, Viet Nam
          </p>
        </div>
        <div class="col-2">
          <div class="footer-desc">
            <a href="" class="footer-number">+84 221 6273 535</a>
            <a href="" class="footer-mail"> info@hungyen-kd.com</a>
          </div>
        </div>
        <div class="footer-social">
          <a href="" class="footer-social__item">
            <img src="/src/assets/images/footer-linkedin.svg" alt="" />
          </a>
          <a href="" class="footer-social__item">
            <img src="/src/assets/images/footer-instagram.svg" alt="" />
          </a>
          <a href="" class="footer-social__item">
            <img src="/src/assets/images/footer-pinterest.svg" alt="" />
          </a>
          <a href="" class="footer-social__item">
            <img src="/src/assets/images/footer-whatsapp.svg" alt="" />
          </a>
        </div>
        <p class="footer-desc">Website by Align.vn</p>
      </div>
    </div>
  </footer>

  <!-- Jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Barba Js -->
  <script src="https://unpkg.com/@barba/core"></script>
  <!-- Gsap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
  <!-- ThreeJS JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <!-- Dflip JS-->
  <script src="/src/dflip/js/dflip.min.js"></script>
  <!-- Swiperjs -->
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <!-- Mainjs -->
  <script src="/src/js/main.js" type="module"></script>
</body>

</html>