.content-config {
  h1 {
    font-size: 2.5vw;
    line-height: 120%;
    font-weight: 800;
    color: $dark-blue;
    @include max(769px) {
      font-size: 2.4rem;
    }
  }
  h4 {
    font-size: 1.667vw;
    line-height: 120%;
    font-weight: 800;
    @include max(769px) {
      font-size: 1.8rem;
    }
  }
  p, h5 {
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 120%;
    color: $dark-blue;
    @include max(1025px) {
      font-size: 1.6rem;
    }
  }
  h2 {
    font-size: 1.875vw;
    line-height: 140%;
    font-weight: 400;
    @include max(1025px) {
      font-size: 2.2rem;
      font-weight: 120%;
    }
  }
  p strong {
    font-weight: bold;
  }
  p img {
    max-width: 15rem;
    width: 100%;
    object-fit: contain;
    padding: 0 1.5rem;
    @include max(1025px) {
      max-width: 12rem;
    }
    @include max(769px) {
      max-width: 8rem;
    }
  }
}