.process {
  position: relative;
  height: 70vh;
  overflow: hidden;
  .hide-on-mobile {
    @include max(769px) {
      display: none;
    }
  }
  @include max(1025px) {
    height: 50vh;

    .container,
    .process-row {
      height: 100%;
    }
  }
  .col-3 {
    @include max(1025px) {
      width: 50%;
    }
    @include max(767.98px) {
      width: 100%;
    }
  }
  .rto-box {
    padding-top: 154.1850220264317%;
    @include max(1025px) {
      padding-top: 171%;
    }
    @include max(991.98px) {
      padding-top: 133%;
    }
    @include max(767.98px) {
      padding-top: 108%;
    }
  }
  &-title {
    margin-bottom: 2.5rem;
    @include max(991.98px) {
      margin-bottom: 1.5rem;
    }
  }
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #002d74;
  }
  &-sub {
    font-size: 0.938vw;
    line-height: 140%;
    margin-bottom: 2rem;
    max-width: calc(100% * 5 / 12);
    @include max(991.98px) {
      max-width: 100%;
    }
    &:last-of-type {
      margin-bottom: 5rem;
      @include max(991.98px) {
        margin-bottom: 3rem;
      }
    }
  }
  &-icon {
    display: flex;
    width: calc(100% * 5 / 12);
    margin-bottom: 6rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    @include max(1025px) {
      display: none;
    }
    li {
      padding: 0 0.5rem;
    }
  }
  &-section {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: $bg-green;
  }
}
// @media screen and (max-width: 1025px) {
//     .process-sub:last-of-type {
//         margin-bottom: 6rem;
//     }
// }
@media screen and (max-width: 1025px) {
  .process-sub {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1025px) {
  .process-bold {
    font-weight: 700;
  }
}
@media screen and (max-width: 769px) {
  .process .container {
    overflow: hidden;
  }
  .process .row {
    position: relative;
    padding-bottom: 60%;
  }
  .process .col-3 {
    position: absolute;
    left: 50vw;
  }
  .process .col-7 {
    width: 50%;
  }
}
