h1 {
  font-size: clamp(2.4rem, calc(2.4rem + ((1vw - 0.77rem) * 4.7059)), 6.4rem);
  font-weight: 800;
}
h2 {
  font-size: clamp(2.2rem, calc(2.2rem + ((1vw - 0.77rem) * 3.0588)), 4.8rem);
  font-weight: 800;
}
h3 {
  font-size: clamp(2rem, calc(2rem + ((1vw - 0.77rem) * 1.8824)), 3.6rem);
  font-weight: 700;
}
h4 {
  font-size: clamp(1.8rem, calc(1.8rem + ((1vw - 0.77rem) * 1.6471)), 3.2rem);
  line-height: 120%;
  font-weight: 800;
}
h5 {
  font-size: clamp(1.4rem, calc(1.4rem + ((1vw - 0.769rem) * 0.8396)), 2.4rem);
  line-height: 120%;
  // font-weight: 800;
}
p {
  font-size: clamp(1.4rem, calc(1.4rem + ((1vw - 0.769rem) * 0.3359)), 1.8rem);
  font-weight: 300;
  line-height: 140%;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.4rem;
    font-weight: 700;
  }
  h2 {
    font-size: 2.2rem;
    font-weight: 600;
  }
  h3 {
    font-size: 2rem;
    font-weight: 600;
  }
  h4 {
    font-size: 1.8rem;
    line-height: 120%;
    font-weight: 600;
  }
  h5 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 140%;
  }
}

body .a-owl > * + * {
  margin-top: 2rem;
}
body .a-owl-s > * + * {
  margin-top: 1rem;
}

a {
  &:hover {
    color: #000;
    // font-weight: 400;
  }
}

.scrollTopbtn {
  height: 5rem;
  width: 5rem;
  display: none;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  text-align: center;
  border: 2px solid #000;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 99;
  i {
    font-size: 2rem;
  }
  &.active {
    display: flex;
  }
}
//nav Link
.nav-link {
  &:hover,
  &:focus {
    color: #fcfff5;
  }
}
.nav.sticky {
  background-color: rgb(0 0 0 / 70%);
}

//slider
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #000;
  border: 2px solid #fff;
  margin-right: 5px;
}
.reviewSlider-button-next {
  justify-content: right;
  @include max(769px) {
    right: -20px;
  }
}
.reviewSlider-button-prev {
  justify-content: left;
  @include max(769px) {
    left: -20px;
  }
}

//Menu
.collection-wrapper {
  .collection-inner {
    .menuCats {
      .collection-fabric__item {
        width: 11.458vw;
        height: 14vw;
        transition: all 150ms ease-out;
        cursor: pointer;
        // @include max(1440px) {
        //   height: 20vw;
        // }
        @include max(1280px) {
          height: 20vw;
        }
        @include max(769px) {
          //width: 16rem !important;
          height: 40vw;
        }
        .collection-fabric__image {
          img {
            max-height: 60%;
            object-fit: contain;
            -o-object-fit: contain;
            // max-width: none;
          }
        }
        &:hover {
          background-color: #000;
          .collection-fabric__title {
            color: #000;
            font-weight: 700;
          }
        }
      }
    }
    .collection-cta {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 5rem;
      @include max(768px) {
        .collection-cta__col {
          padding: 0;
        }
      }
    }
    .collection-logo {
      .collection-row {
        .collection-logo__item {
          justify-content: center;
          align-items: center;
          display: flex;
          margin: auto;
        }
      }

      img {
        object-fit: contain;
        max-height: 10rem;
        width: 85%;
      }
    }
    // .header-menu-block {
    //   .gspb_image {
    //     display: flex;
    //     justify-content: center;
    //     align-content: center;
    //     img {
    //       max-width: 90%;
    //       max-height: 100px !important;
    //       object-fit: contain;
    //     }
    //   }
    // }
  }
}

//Slider
.logoJs {
  .swiper-wrapper {
    transition-timing-function: linear;
  }
}
.menuCats {
  .swiper-wrapper {
    transition-timing-function: linear;
  }
}
//Homepage
.partner-logos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.discover-block {
  @include max(769px) {
    display: grid;
    margin-top: 2rem;
  }
}
.homepage-sustainability-wrapper {
  .title {
    text-transform: uppercase;
    margin: 0 auto 12.5rem;
  }
}
.panel-type-content {
  &.content-wrapper {
    width: 80%;
    margin: auto;
    @include max(1280px) {
      width: 100%;
    }
    .item-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border: 1px solid;
      min-height: 45rem;
      .left-content-wrapper {
        padding: 5rem;
      }
      .right-content-wrapper {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &:nth-child(even) {
        .right-content-wrapper {
          grid-row: 1;
        }
      }
      @include max(769px) {
        grid-template-columns: 1fr;
        min-height: auto;
        .left-content-wrapper {
          padding: 3rem;
        }
        .right-content-wrapper {
          grid-row: 1;
        }
      }
    }
  }
}

//Sustainability
.materials-block {
  .material-block {
    .materials-image {
      overflow: hidden;
      img,
      video {
        transition: all 0.4s;
      }
      &:hover {
        img,
        video {
          transform: scale(1.2);
        }
      }
    }
  }
}
.desktop-hidden {
  display: none !important;
  @include max(769px) {
    display: block !important;
    position: relative;
    bottom: 1rem;
    border-top: 1px solid;
    width: 100%;
    padding-top: 2rem;
  }
}
.mobile-hidden {
  @include max(769px) {
    display: none !important;
  }
}
//Career
.career-content__wrapper {
  .container {
    h4 {
      margin-top: 5rem;
      margin-bottom: 3rem;
    }
    .career-date {
      margin-bottom: 1rem;
    }
    h5 {
      font-weight: 500;
    }
  }
}

//Who we are page
.world {
  .world-inner {
    .modal {
      .modal-item {
        display: none;
      }
      &.modal-1 {
        .modal-one {
          display: block;
        }
      }
      &.modal-2 {
        .modal-two {
          display: block;
        }
      }
      &.modal-3 {
        .modal-three {
          display: block;
        }
      }
      &.modal-4 {
        .modal-item {
          display: block;
        }
      }
    }
  }
  .world-info {
    position: relative;
    z-index: 9;
  }
}
.hero.who {
  .fadeJs {
    .swiper-button-next,
    .swiper-button-prev {
      top: 60%;
      &::after {
        color: #fff;
        font-size: 5rem;
      }
    }
  }
}

//Search Product
.search-header-wrapper {
  padding: 5rem 0;
  .container {
    text-align: center;
    .search-wrapper {
      position: relative;
      input[type="search"] {
        width: 50%;
        height: 50px;
        padding: 20px;
        border-radius: 30px;
        border: 1px solid #000;
        margin-top: 3rem;
        outline: none;
      }
      i {
        font-size: 24px;
        position: absolute;
        top: 4rem;
        right: 24vw;
      }
    }
  }
}
.catalog-list {
  .catalog-list-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    .collectionPage-fabric {
      margin: 0;
      width: 100%;
    }
  }
}

//Career Page
.job-card-list {
  .piotnetgrid-card {
    border-radius: 8px;
    padding: 3rem 2vw;
    border: 1px solid #000;
    @include max(769px) {
      padding: 3rem 4rem;
    }
    .job-card-wrapper {
      padding: 0;
      .piotnetgrid-column {
        padding: 0;
        .piotnetgrid-column__inner {
          * {
            margin-bottom: 1rem;
          }
          .piotnetgrid-section {
            .piotnetgrid-column__inner {
              display: flex;
              flex-direction: row;
              * {
                width: auto;
                &.piotnetgrid-icon__item {
                  margin-right: 1rem;
                }
              }
            }
          }
          h5 {
            font-weight: 600;
          }
        }
      }
    }
  }
}

//Contact page

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  font-size: 1.8rem;
  a {
    align-items: center;
    display: flex;
    i {
      font-size: 4rem;
      margin-right: 1rem;
    }
  }
}

//Collection page
.collectionPage {
  .collectionPage-text {
    position: absolute;
    top: 20%;
    display: block;
    z-index: 9;
    left: 0;
    padding: 0 7.813vw;
    & * {
      margin-bottom: 3rem;
      color: #fff;
      font-weight: 600;
    }
  }
  .collectionPage--top {
    .collectionPage-heading-wrapper {
      width: 60vw;
      @include max(769px) {
        width: 100%;
      }
    }
  }
  .collectionPage-hero {
    &.desktop-hidden {
      border: none;
      padding: 0;
    }
    @include max(769px) {
      .rto-box {
        padding-top: 150%;
      }
    }
  }
}
.collectionMain {
  .collectionPage-category {
    .collectionPage-filter {
      .collectionPage-feature {
        .featureList {
          .feature {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            &::before {
              content: "";
              width: 4rem;
              height: 4rem;
              display: block;
              margin-right: 1rem;
            }
          }

          .feature:nth-child(1)::before {
            background: url("/wp-content/uploads/2022/07/features-image-3.svg")
              center no-repeat;
            background-size: contain;
          }
          .feature:nth-child(2)::before {
            background: url("/wp-content/uploads/2022/07/features-image-1.svg");
            background-size: contain;
          }
          .feature:nth-child(3)::before {
            background: url("/wp-content/uploads/2022/07/features-image-2.svg");
            background-size: contain;
          }
          .feature:nth-child(4)::before {
            background: url("/wp-content/uploads/2022/07/features-image-4.svg");
            background-size: contain;
          }
        }
        .featureTitle {
          padding-bottom: 3rem;
        }
      }
      .collectionPage-filter__main,
      .collectionPage-feature {
        padding: 2rem;
        border: 1px solid #000;
        @include max(767px) {
          margin-top: 2rem;
          padding: 2rem;
        }
      }
      .collectionPage-filter__main {
        @include max(767px) {
          margin-bottom: 2rem;
        }
        .collectionPage-property {
          padding: 0;
          border: none;
        }
        #piotnetgrid {
          .piotnetgrid-button-wrapper {
            justify-content: center;
          }
        }
      }
      .collectionPage-download {
        .download-item {
          width: 100%;
          padding: 0;
        }
        p {
          font-size: 1.8rem;
          margin-bottom: 0;
        }
      }
      #piotnetgrid {
        .fillter-by-collection {
          .piotnetgrid-facet__field-subgroup--buttons {
            .piotnetgrid-facet__field-sub {
              .piotnetgrid-facet__field-sub-label::before {
                @include max(1440px) {
                  width: 3rem !important;
                  height: 3rem !important;
                  margin-right: 1rem !important;
                  margin-left: 1rem !important;
                }
              }
              .piotnetgrid-facet__field-sub-label {
                @include max(1440px) {
                  font-size: 1.8rem !important;
                }
              }
            }
          }
        }
      }
    }
    .collectionPage-list {
      margin-right: 0;
      .piotnetgrid-grid__posts {
        .collectionPage-term {
          display: none;
        }
        .collectionPage-fabric__title {
          a:hover {
            color: #000;
          }
        }
      }

      /* collection product section  */
      #piotnetgrid {
        .piotnetgrid-card {
          border: 1px solid #000;
          .piotnetgrid {
            height: 100%;
            flex-wrap: wrap;
            flex-direction: column;
          }
          .collectionPage-fabric__image {
            max-height: 30rem;
            align-self: stretch;
            flex-grow: 1;
            .piotnetgrid-image__content {
              height: 100%;
              a {
                display: grid;
                height: 100%;
                .piotnetgrid-image__tag {
                  height: 100%;
                  width: 100%;
                }
              }
            }
          }
          .collectionPage-fabric__bottom {
            max-height: 90px;
          }
        }
      }
    }
  }
}
.polyamide-recycled-collection {
  .collectionPage-fabric__title {
    color: #76b82a;
  }
}
.polyester-recycled-collection {
  .collectionPage-fabric__title {
    color: #00983a;
  }
}
.polyamide-virgin-shiny-collection {
  .collectionPage-fabric__title {
    color: #ef7fb0;
  }
}
.polyamide-recycled-shiny-collection {
  .collectionPage-fabric__title {
    color: #69f4ba;
  }
}
.polyamide-virgin-collection {
  .collectionPage-fabric__title {
    color: #e84f3e;
  }
}
.polyester-virgin-collection {
  .collectionPage-fabric__title {
    color: #009fdd;
  }
}
.xlance-collection {
  .collectionPage-fabric__title {
    color: #e3d100;
  }
}

//GreenShift container style
.gspb_row {
  .gspb_row__col--24,
  .gspb_row__col--12,
  .gspb_row__col--11,
  .gspb_row__col--10,
  .gspb_row__col--9,
  .gspb_row__col--8,
  .gspb_row__col--7,
  .gspb_row__col--6,
  .gspb_row__col--5,
  .gspb_row__col--4,
  .gspb_row__col--3,
  .gspb_row__col--2,
  .gspb_row__col--1 {
    padding: 0 !important;
  }
}
.gspb_container {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
body {
  .container {
    .gspb_row {
      gap: 4rem;
      flex-wrap: inherit !important;
      @include max(769px) {
        flex-wrap: wrap !important;
      }
    }
  }
}

.tax-collection {
  section {
    padding-top: 12rem;
    padding-bottom: 12rem;
    @include max(769px) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }
  .collectionPage {
    padding-bottom: 0;
    padding-top: 7.5rem;
  }
}
.xlance-info-section {
  .gspb_container {
    .gspb_container {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
  }

  .gspb_row {
    gap: 5rem;
    flex-direction: row;
    flex-wrap: inherit;
    @include max(769px) {
      flex-wrap: wrap;
    }
    .gspb_row__col--6 {
      * {
        margin-top: 3rem;
        &:first-child {
          margin-top: 0;
        }
      }
      ul {
        li {
          margin-top: 0.5rem;
        }
      }
    }
    ol,
    ul {
      list-style: disc;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

//Digital Print
.digital-print-icon-wrapper {
  width: 7rem;
  height: 7rem;
  justify-content: left;
  align-items: center;
  display: flex;
  min-width: 7rem;
  flex-wrap: wrap;
  img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
  }
}
//xLance Collection
.collectionExtra {
  margin-bottom: 5rem;
  .block-xlance-info-wrapper {
    .l-bloc {
      padding: 4rem 0;
    }
  }
}

//Eco page
.term-55 {
  .collectionMain {
    display: none !important;
  }
}

//Single product page
.single-product {
  p {
    font-size: clamp(1.4rem, calc(1.4rem + ((1vw - 0.769rem) * 0.5213)), 2rem);
  }
  .collectionDetail-row {
    .collectionDetail-desc {
      font-size: clamp(
        1.4rem,
        calc(1.4rem + ((1vw - 0.769rem) * 0.0332)),
        1.8rem
      );
      font-weight: 300;
    }
  }
  .collectionTreatments {
    .collectionTreatments-row {
      margin-bottom: 5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20rem;
      @include max(769px) {
        grid-template-columns: 1fr;
      }
      .collectionFeatures-row {
        @include max(769px) {
          gap: 0;
          padding-left: 0;
        }
      }
    }
  }
  .collectionDownload-wrapper {
    display: flex;
    @include max(768px) {
      display: grid;
      grid-gap: 2rem;
    }
  }
}
