<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>News-detail</title>
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <!-- Main CSS -->
  <link rel="stylesheet" href="/src/css/main.css" />
</head>

<body data-barba="wrapper">
  <div class="collection">
    <div class="collection-wrapper">
      <img src="/src/assets/images/close-icon.svg" alt="" class="collection-button" />
      <div class="container collection-inner">
        <div class="swiper-default noloop">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <a href="/collections/recycle.html" class="swiper-item collection-fabric__item">
                <div class="collection-fabric__image">
                  <img src="/src/assets/images/fabric-icon-3.svg" alt="" />
                </div>
                <div class="collection-fabric__title">Recycled</div>
              </a>
              <div class="swiper-item collection-fabric__item">
                <div class="collection-fabric__image">
                  <img src="/src/assets/images/fabric-icon-1.svg" alt="" />
                </div>
                <div class="collection-fabric__title">Virgin</div>
              </div>
              <div class="swiper-item collection-fabric__item">
                <div class="collection-fabric__image">
                  <img src="/src/assets/images/fabric-icon-2.svg" alt="" />
                </div>
                <div class="collection-fabric__title">
                  Recycled & Virgin Shiny
                </div>
              </div>
              <div class="swiper-item collection-fabric__item">
                <div class="collection-fabric__image">
                  <img src="/src/assets/images/fabric-icon-6.svg" alt="" />
                </div>
                <div class="collection-fabric__title">Xlance</div>
              </div>
              <a href="/collections/digital-print.html" class="swiper-item   collection-fabric__item">
                <div class="collection-fabric__image">
                  <img src="/src/assets/images/fabric-icon-7.svg" alt="" />
                </div>
                <div class="collection-fabric__title">Digital Print</div>
              </a>
              <div class="swiper-item collection-fabric__item">
                <div class="collection-fabric__image">
                  <img src="/src/assets/images/fabric-icon-5.svg" alt="" />
                </div>
                <div class="collection-fabric__title">Eco & Circularity</div>
              </div>
            </div>
          </div>
        </div>

        <div class="collection-cta">
          <div class="collection-cta__col col-5">
            <a href="#" class="btn btn-green collection-cta__text">
              All fabric Collections
            </a>
          </div>
          <div class="collection-cta__col col-5">
            <a href="#" class="btn btn-green collection-cta__text">
              Download Color Cards Collection 2023
            </a>
          </div>
        </div>

        <div class="collection-logo">
          <div class="collection-row">
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-8.svg" alt="" class="collection-logo__image" />
            </div>
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-10.svg" alt="" class="collection-logo__image" />
            </div>
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-11.svg" alt="" class="collection-logo__image" />
            </div>
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-7.svg" alt="" class="collection-logo__image" />
            </div>
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-12.svg" alt="" class="collection-logo__image" />
            </div>
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-13.svg" alt="" class="collection-logo__image" />
            </div>
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-14.svg" alt="" class="collection-logo__image" />
            </div>
            <div class="collection-logo__item">
              <img src="/src/assets/images/partner-logo-15.svg" alt="" class="collection-logo__image" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <header class="nav">
    <div class="nav-inner">
      <div class="nav-nav">
        <a href="/" class="nav-logo">
          <img src="/src/assets/images/nav-logo.svg" alt="" />
        </a>

        <ul class="nav-bar">
          <li class="nav-item">
            <a href="" class="nav-link nav-text">Who we are</a>
          </li>
          <li class="nav-item">
            <a href="sustainability.html" class="nav-link nav-text">Sustainability</a>
          </li>
          <li class="nav-item">
            <a href="#" id="fabric-collection" class="nav-link nav-text">Fabric Collection</a>
          </li>
          <li class="nav-item">
            <a href="news.html" class="nav-link nav-text">HY News</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link nav-text">Contact</a>
          </li>
        </ul>

        <div class="nav-search">
          <div class="nav-search__inner">
            <input type="text" placeholder="Find your fabric" />
            <img class="nav-icon" src="/src/assets/images/search-icon.svg" alt="" />
          </div>
        </div>

        <div class="nav-burger">
          <button>
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </header>
  <!-- <div class="load-container">
        <div class="loading-screen"></div>
    </div> -->
  <main class="wrapper" data-barba="container" data-barba-namespace="home">
    <section class="newsDetail pt">
      <div class="container">
        <h1 class="h1 newsDetail-h1">
          Lorem ipsum dolor sit amet, consectetur adipiscing eli
        </h1>
        <ul class="newsDetail-category">
          <li class="newsDetail-item newsDetail-time">
            AD | Sept 21 2013
          </li>
          <li class="newsDetail-item newsDetail-hashtag">
            #circular
          </li>
          <li class="newsDetail-item newsDetail-hashtag">
            #economy
          </li>
          <li class="newsDetail-item newsDetail-hashtag">
            #innovation
          </li>
        </ul>
        <div class="newsDetail-hero">
          <div class="rto-box">
            <img src="/src/assets/images/news-detail-image-1.png" alt="">
          </div>
        </div>
        <p class="newsDetail-desc body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis ac, amet non. Adipiscing eu, quis elementum
          ut quis massa, hac. Pellentesque imperdiet dui, turpis enim senectus aliquet tellus. Arcu volutpat eu viverra
          phasellus nec sit sit vel. Nec faucibus sodales ac massa lacus, interdum. A tortor, lacus, mattis nunc, amet,
          tellus faucibus vitae. Ornare vel pellentesque est sollicitudin phasellus velit in fermentum.
        </p>
        <p class="newsDetail-desc body">
          Quam mattis feugiat imperdiet est vel eu montes, quam scelerisque. Lectus arcu, sit ut et nibh. Est cursus et
          malesuada adipiscing nunc consequat lectus ultrices felis. Et iaculis eleifend facilisis aliquet vulputate.
          Eu, convallis maecenas aliquet feugiat fringilla eget nibh nibh. Purus mi, viverra augue eu a mauris volutpat.
          Adipiscing lectus accumsan amet varius duis cursus porttitor.
          Eu est orci consectetur luctus potenti et, vel cras pretium. Vulputate tempus, odio amet morbi vulputate
          rhoncus lectus netus quis. Netus posuere tortor elementum orci mollis. Nisl ut lacinia velit, amet, lacus,
          neque amet ornare auctor. Nam sed fames urna, pulvinar bibendum at proin. Justo, congue tortor id aliquam mi
          id adipiscing odio. Vehicula sem pellentesque orci a at feugiat. Ac elit commodo ullamcorper et quisque
          vulputate fermentum. Id elit adipiscing elit non elementum quam. Volutpat justo, sit at viverra blandit
          ultrices iaculis pretium. Maecenas praesent diam ultrices elementum. Et mauris, porttitor egestas elit feugiat
          vulputate tincidunt. Tincidunt sodales tellus lacus elit cras eget. Mattis semper morbi ut mattis eu. Dolor
          nibh sit quam feugiat massa auctor enim.
        </p>
        <p class="newsDetail-desc body">
          Faucibus nibh ac, elit felis amet, sagittis. Condimentum donec cras iaculis neque iaculis. Feugiat sit
          sagittis dolor, erat. Consectetur penatibus mauris egestas libero, proin arcu volutpat. Felis nec condimentum
          ac odio pretium massa. Neque proin cursus a aliquam egestas magna neque. Luctus ac pretium donec eleifend
          tortor. Egestas vestibulum nullam nec adipiscing nulla vitae ultrices commodo. Nisl urna luctus at laoreet
          ultricies nulla velit, consectetur. Ut quis aliquet proin volutpat consectetur non sed imperdiet. Parturient
          a, gravida sed arcu, sollicitudin risus amet velit. Ac dui amet ut dignissim consequat. Iaculis iaculis arcu
          adipiscing vitae arcu, senectus.
        </p>
        <p class="newsDetail-desc body">
          Imperdiet consectetur est varius sodales fermentum et scelerisque tempus. At nunc ac orci, faucibus adipiscing
          in. Porttitor erat non posuere facilisis sit egestas eget varius laoreet. Cursus eget neque, est morbi
          pulvinar faucibus fringilla metus duis. Neque, nisl, eget donec praesent scelerisque pellentesque enim eu
          condimentum. Sagittis, habitant dui turpis in egestas metus. Venenatis, hendrerit egestas nec, turpis dolor.
          Lorem ac et tellus consequat. Semper in semper mauris amet. Suspendisse vel nulla non massa vitae suspendisse
          ornare adipiscing. Sed mauris, in id vel sit vitae tellus gravida mus. Et vitae aliquam ac vitae id vel eu
          nisl in. Adipiscing pretium quis pellentesque dignissim in nulla duis. Nunc consectetur neque adipiscing nisi,
          cursus vehicula velit, id sit.
        </p>
        <p class="newsDetail-desc body">
          Eu in quam enim nisl, nisl sagittis dictumst nulla. Sit et tristique nullam at id ac. Pellentesque nunc, felis
          eget id magna amet. Cras lacus donec in gravida auctor. Adipiscing aliquam augue nam sed. Ut ultricies turpis
          accumsan tortor et mollis. Maecenas pharetra ut sit massa et. Pellentesque venenatis massa tincidunt vitae.
          Convallis aliquam, ipsum, accumsan nec, venenatis pretium convallis. Massa tellus cum ac eu facilisi porttitor
          nisi, congue mi. Bibendum tortor egestas sem dictum risus, velit odio. Bibendum sed egestas aenean enim
          pulvinar. Enim morbi vitae feugiat quis velit egestas tristique.
        </p>
      </div>
    </section>
    <section class="news mt">
      <div class="container">
        <h1 class="h1 text-uppercase news-title">More recent news</h1>
        <div class="row">
          <div class="news-item col-4">
            <div class="rto-box news-item__image">
              <img src="/src/assets/images/news-1.png" alt="" />
            </div>
            <div class="news-item__content">
              <h5 class="news-item__title">
                VIETNAM AND EU SIGNED THE EVFTA
              </h5>
              <p class="news-item__desc">
                On Sunday 30th June, the Prime Minister of Vietnam, H.E.
                Nguyen Xuan Phuc and the EU Trade Commissioner Cecilia
                Malmstrom asdasdasdadasasdas
              </p>
            </div>
          </div>
          <div class="news-item col-4">
            <div class="rto-box news-item__image">
              <img src="/src/assets/images/news-2.png" alt="" />
            </div>
            <div class="news-item__content">
              <h5 class="news-item__title">
                HUNG YEN EVOLVES: THREE NEW COLLECTIONS AND A TOTAL ...
              </h5>
              <p class="news-item__desc">
                Recycled, Virgin and Shiny are the names chosen for Hung Yen
                three new collections, featuring a renewed product range
                including even ...
              </p>
            </div>
          </div>
          <div class="news-item col-4">
            <div class="rto-box news-item__image">
              <img src="/src/assets/images/news-3.png" alt="" />
            </div>
            <div class="news-item__content">
              <h5 class="news-item__title">RECYCLED NYLON BY HUNG YEN</h5>
              <p class="news-item__desc">
                On Sunday 30th June, the Prime Minister of Vietnam, H.E.
                Nguyen Xuan Phuc and the EU Trade Commissioner Cecilia
                Malmstrom...
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer mt">
    <img src="/src/assets/images/pattern-footer.svg" alt="" class="footer-pattern" />
    <div class="container">
      <div class="row">
        <div class="footer-cta col-8 mx-auto">
          <div class="footer-cta__inner">
            <h1 class="h1 footer-cta__h1">
              We're here to provide the best fabric for your business. <br />
              Don't hesitate to contact us.
            </h1>

            <a href="#" class="btn btn-green col-4 mx-auto">
              Get to know us
            </a>
          </div>
        </div>
      </div>

      <div class="footer-list row">
        <div class="col-2">
          <a href="#" class="footer-logo">
            <img src="/src/assets/images/footer-logo.svg" alt="" />
          </a>
        </div>
        <div class="col-3">
          <p class="footer-desc">
            Pho Noi Textile and Garment Industrial Park,Nghia Hiep commune,Yen
            My district, Hung Yen province 162930, Viet Nam
          </p>
        </div>
        <div class="col-2">
          <div class="footer-desc">
            <a href="" class="footer-number">+84 221 6273 535</a>
            <a href="" class="footer-mail"> info@hungyen-kd.com</a>
          </div>
        </div>
        <div class="footer-social">
          <a href="" class="footer-social__item">
            <img src="/src/assets/images/footer-linkedin.svg" alt="" />
          </a>
          <a href="" class="footer-social__item">
            <img src="/src/assets/images/footer-instagram.svg" alt="" />
          </a>
          <a href="" class="footer-social__item">
            <img src="/src/assets/images/footer-pinterest.svg" alt="" />
          </a>
          <a href="" class="footer-social__item">
            <img src="/src/assets/images/footer-whatsapp.svg" alt="" />
          </a>
        </div>
        <p class="footer-desc">Website by Align.vn</p>
      </div>
    </div>
  </footer>

  <!-- Jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Barba Js -->
  <script src="https://unpkg.com/@barba/core"></script>
  <!-- Gsap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
  <!-- ThreeJS JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <!-- Dflip JS-->
  <script src="/src/dflip/js/dflip.min.js"></script>
  <!-- Swiperjs -->
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <!-- Mainjs -->
  <script src="/src/js/main.js" type="module"></script>
</body>

</html>